html,
body{
  height: 100%;
}

body{
  color: #7b7b7b;
  font-size: 14px;
  line-height: 32px;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  font-size: 36px;
  color: #191919;
  margin-bottom: 35px;
  @extend %dmsans-700;
  text-align: center;
}

.filter{
  text-align: center;
  &__btn{
    border: none;
    background-color: transparent;
    color: #8b8b8b;
    @extend %dmsans-700;
    font-size: 16px;
    margin-bottom: 78px;
    
  }
  &__btn + .product__filter-btn{
    margin-left: 17px;
  }
}

.breadcrumbs{
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    padding-right: 20px;
    position: relative;
    color: #737980;
    &::after{
      content: "/";
      position: absolute;
      right: 7px;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}

.pagination{
  display: flex;
  padding: 110px 0;
  justify-content: center;
  .pagination__list{
    display: flex;
    align-items: center;
  }
  &__link{
    color: #243f4d;
  }
  &__item{
    color: #243f4d;
    line-height: 14px;
    padding: 18px 20px;
    border: 1px solid #a3bbc8;
    cursor: pointer;
    & + .pagination__item{
      margin-left: 15px;
    }
  }
  &__item--active{
    background-color: #a3bbc8;
    & .pagination__link{
      color: #fff;
    }
  }
  &__arrows{
    color: #243f4d;
    line-height: 14px;
    padding: 18px 20px;
    border: 1px solid #a3bbc8;
  }
  &__prev{
    &.pagination__none{
      display: none;
    }
    margin-right: 15px;
  }
  &__next{
    &.pagination__none{
      display: none;
    }
    margin-left: 15px;
  }
}