@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  padding: 45px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-link{
    color: $default;
    font-size: 15px;
    line-height: 12px;
    padding-bottom: 2px;
    transition: all .3s;
    @extend %rubik-500;
    &:hover{
      border-bottom: 1px solid #436372;
    }
  }
  &__list-link--active{
    border-bottom: 1px solid #436372;
  }
}

.user-nav{
  display: flex;
  &__link{
    display: flex;
    align-items: center;
    position: relative;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 6px;
    right: -9px;
    font-size: 10px;
    color: #334c59;
    line-height: 16px;
    text-align: center;
  }
  &__link-search{
    padding: 17px;
    background-color: #edf1f4;
    border-radius: 50%;
  }
  &__link-choose{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    background-color: #fcd7b6;
    border-radius: 50px;
    margin: 0 18px 0 20px;
  }
  &__link-heart{
    margin-right: 28px;
    padding: 13px 0 4px 0px;
  }

  &__link-cart{
    padding: 13px 0 4px 28px;
    border-left: 1px solid #fde7d3;
    
  }

  &__num-more{
    background-color: #a3bbc8;
    padding: 16px;
    border-radius: 50%;
  }

  &__list{

  }
}


@import 'media';
