@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 45px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-link{
    color: $default;
    font-size: 15px;
    line-height: 12px;
    padding-bottom: 2px;
    transition: all .3s;
    @extend %rubik-500;
    &:hover{
      border-bottom: 1px solid #436372;
    }
  }
  &__list-link--active{
    border-bottom: 1px solid #436372;
  }
}

.user-nav{
  display: flex;
  &__link{
    display: flex;
    align-items: center;
    position: relative;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    @extend %dmsans-400;
    top: -7px;
    right: -9px;
    font-size: 10px;
    color: #334c59;
    line-height: 16px;
    text-align: center;
  }
  &__link-search{
    padding: 17px;
    background-color: #edf1f4;
    border-radius: 50%;
  }
  &__link-choose{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    background-color: #fcd7b6;
    border-radius: 50px;
    margin: 0 18px 0 20px;
  }
  &__link-heart{
    margin-right: 28px;
    
  }

  &__link-cart{
    position: relative;
    margin-left: 28px;
    &::after{
      content: "";
      position: absolute;
      background-color: #fde7d3;
      width: 1px;
      height: 32px;
      left: -27px;
    }
  }



  &__num-more{
    background-color: #a3bbc8;
    padding: 16px;
    border-radius: 50%;
  }
}

.footer-top{
  display: flex;
  padding: 80px 0 75px;
  border-bottom: 1px solid #edf1f4;
  &__contact{
    width: 200px;
    margin-right: 95px;
  }
  &__nav{
    width: 180px;
    margin-right: 120px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__logo{
    margin-bottom: 25px;
    display: block;
  }
  &__adress,
  &__phone{
    margin-bottom: 15px;
    display: block;
    color: #8d8d8d;
  }
  &__email{
    color: #8d8d8d;
  }
  &__title{
    color: #1f2044;
    margin-bottom: 28px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    margin-top: 15px;
  }
  &__link{
    line-height: 24px;
    color: #8d8d8d;
  }
  &__text{
    margin-bottom: 22px;
  }

  &__form{
    margin: 0;
  }

  &__form-input{
    
    background-color: #fef7f0;
    border: none;
    max-width: 170px;
    width: 100%;
    padding: 2px 15px 3px 15px;
    &::placeholder{
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }
  &__form-btn{
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    @extend %dmsans-400;
    line-height: 21px;
    cursor: pointer;
    margin-left: -3px;
    padding: 8px 16px;
  }

}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  &__list{
    display: flex;
  }
  &__item{
    padding: 0 15px;
    position: relative;
  }
  &__item + .footer-bottom__item{
    &::before{
      content: "|";
      position: absolute;
      left: -1px;
    }
  }
  &__link{
    color: #7b7b7b;
  }
}
 
.top-slider{
  background-image: url(../images/slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 45px;
  &__item{
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 220px;
    margin-bottom: 207px;
  }
  &__title{
    max-width: 470px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 45px;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    color: #4f6b77;
    margin-bottom: 44px;
    max-width: 370px;
  }
  &__link{
    color: #fff;
    background-color: #a3bbc8;
    padding: 25px 100px 24px 28px;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      background-image: url(../images/icon/arrow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 10px;
      width: 25px;
      right: 18px;
      top: 26px;
      transform: translateY(50%);
    }
  }
  &__img{
    transform: translateY(18px);
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      padding: 0 10px;
      button{
        @extend %rubik-500;
        color: #708088;
        font-size: 11px;
        line-height: 9px;
        height: 30px;
        width: 30px;
        border: none;
        background-color: #fde3cc;
        border-radius: 50%;
      }
      &.slick-active{
        button{
          background-color: #fff;
          color: #243f4d;
        }
      }
    }
  }
}

.benefits{
  display: flex;
  background-color: #fef7f0;
  justify-content: center;
  margin-bottom: 69px;
  &__item{
    padding-top: 50px;
    padding-bottom: 30px;
  }

  &__title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 30px;
    color: #414141;
  }
  &__text{
    max-width: 190px;
  }
  &__text-delivery{
    max-width: 200px;
  }
  &__item-support{
    position: relative;
    padding-right: 152px;
    border-right: 1px solid #e8e4df;
    padding-left: 78px;
    &::before{
      content: "";
      position: absolute;
      width: 54px;
      height: 57px;
      background-image: url(../images/icon/support.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      left: 0;
      top: 55px;
    }
  }
  &__item-delivery{
    position: relative;
    padding-left: 83px;
    margin-left: 159px;
    padding-right: 152px;
    border-right: 1px solid #e8e4df;
    &::before{
      content: "";
      position: absolute;
      width: 56px;
      height: 37px;
      background-image: url(../images/icon/delivery.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      left: 0;
      top: 55px;
    }
  }
  &__item-payment{
    position: relative;
    padding-left: 90px;
    margin-left: 152px;
    &::before{
      content: "";
      position: absolute;
      width: 56px;
      height: 55px;
      background-image: url(../images/icon/payment.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      left: 0;
      top: 55px;
    }
  }
}

.product{
  text-align: center;
  padding-bottom: 90px;
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }

}

.mixitup-control-active{
  color: #1a1a1a;
}

.product-item{
  max-width: 270px;
  height: 380px;
   box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  &__img-box{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  &__link-box{
    position: absolute;
    bottom: 30px;
    display: flex;
    transform: translateY(300%);
    transition: all .3s;
  }
  &__link{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all .3s;
    path{
      transition: all .3s;
    }
  }
  &__link + .product-item__link{
    margin-left: 17px;
  }
  &__link:hover{
    background-color: #a3bbc8;
    path{
      fill: #f9fafb;
    }
  }
  &:hover{
    .product-item__link-box{
      transform: translateY(0);
    }
  }
  &__title{
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 12px;
    color: #243f4d;
    padding-bottom: 13px;
    padding-top: 20px;
  }
  &__price{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
    color: #a3bbc8;
  }
}

.lighting{
  padding: 100px 0;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #feefe2;
    width: 50%;
  }

  
  &__item + .lighting__item{
    margin-left: 30px;
  }
}
.lighting-content{
  padding-bottom: 85px;
  padding: 100px 0 100px 0;
  margin-right: 153px;
  &__item-1{
    position: relative;
    &::before{
    content: "";
    position: absolute;
    background-image: url(../images/lighting1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 399px;
    width: 222px;
    top: -100px;
    left: -285px;
    }
  }
   &__item-2{
    position: relative;
    &::before{
    content: "";
    position: absolute;
    background-image: url(../images/lighting2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 399px;
    width: 222px;
    top: -100px;
    left: -285px;
    }
  }
  &__title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    max-width: 260px;
    padding-bottom: 17px;
  }
  &__text{
    font-size: 16px;
    line-height: 25px;
    max-width: 330px;
    padding-bottom: 35px;
  }
  &__link{
    @extend %rubik-500;
    font-size: 16px;
    line-height: 30px;
    color: #436372;
    border: 1px solid #b3b7b5;
    border-radius: 2px;
    padding: 15px 85px 15px 20px;
    position: relative;
  }
  &__link::after{
    content: "";
    position: absolute;
    background-image: url(../images/icon/arrow-blue.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 10px;
    right: 19px;
    top: 20px;
  }
}

.new{
  
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }
  &__item{
    height: 245px;
    max-width: 370px;
    background-color: #f8f8f8;
    position: relative;
  }
  &__item-content{
    position: absolute;
    padding-top: 30px;
    padding-left: 35px;
    z-index: 2;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 32px;
    color: #1a1a1a;
    max-width: 178px;
  }
  &__item-subtitle{
    color: #a3bbc8;
    @extend %dmsans-700;
    font-size: 16px;
  }
  // &__item-link{
  //   position: absolute;
  //   height: 245px;
  //   max-width: 370px;
  //   top: 0;
  //   bottom: 0;
  //   right: 0;
  //   left: 0;
  // }
  &__item-img{
    
  }
}



@import 'media';

